.presentation-component{
  width: 25vw;
  height: auto;
  padding: 1%;
  border: 2px solid;
  border-color: white;
  border-radius: 15px;
  margin: 3% 0 0 9%;
}

.presentation {
  color: white;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3vw;
  text-align: center;
}

.presentation-list {
  display: flex;
  justify-content: center;
}

.presentation-text {
  padding: 10px 0;
}

.presentation-text2 {
  text-align: right;
  color: #804ffb;
  font-weight: bold;
  width: 14vw;
  margin-bottom: 2%;
}

.presentation-text-alt {
  color: #804ffb;
  font-weight: bold;
  text-align: center;
}
